@import '../../style/colors.scss';

.tag {
  background-color: $primary-color;
  color: $tertiary-color;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  border-radius: 10px;
  margin: 0;
  padding: 5px 15px;
  min-width: 115px;
}

/* Tablet */
@media screen and (max-width: 650px) {
  .tag {
    font-size: 0.8rem;
    min-width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

/* Mobile */
@media screen and (max-width: 430px) {
  .tag {
    font-size: 0.65rem;
    min-width: 84px;
    padding: 3px 10px;
  }
}
