@import '../../style/colors.scss';

.logement {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  &__name {
    font-size: 2.25em;
    font-weight: 500;
    color: $primary-color;
    margin: 0 0 5px;
  }
  &__location {
    font-size: 1.1rem;
    font-weight: 500;
    color: $primary-color;
    margin: 0;
  }
  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 0;
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
  }
  &__host {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    &__name {
      font-size: 1.1rem;
      color: $primary-color;
      white-space: pre-line;
      margin: 0;
    }

    &__picture {
      height: 64px;
      width: 64px;
      border-radius: 50%;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin: 20px 0 150px;
  }
  &__collapse {
    width: 47%;

    & .collapse {
      &__text {
        &__content {
          font-size: 1.1rem;
          padding-bottom: 30px;
          border-radius: 0 0 10px 10px;
        }
      }
      &__title {
        padding-right: 10px;
        border-radius: 10px;
        &__content {
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
    }
  }
}

.equipment-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.equipment-element {
  margin: 0;
}

/* Wide Tablet */
@media screen and (max-width: 800px) {
  .logement {
    &__header {
      flex-direction: column;
      gap: 20px;
    }
    &__details {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
    &__content {
      flex-direction: column;
      gap: 20px;
    }
    &__collapse {
      width: 100%;
    }
  }
}

/* Tablet */
@media screen and (max-width: 650px) {
  .logement {
    &__name {
      font-size: 2rem;
    }

    &__host {
      &__picture {
        width: 56px;
        height: 56px;
      }
    }

    &__collapse {
      & .collapse {
        &__title {
          border-radius: 5px;
          &__content {
            font-size: 0.9rem;
          }
        }
        &__text {
          &__content {
            border-radius: 0 0 5px 5px;
          }
        }
        &__icon .fa-solid {
          font-size: 1.2rem;
        }
      }
    }
  }
}

/* Mobile */
@media screen and (max-width: 430px) {
  .logement {
    &__name {
      font-size: 1.1rem;
      margin-bottom: 10px;
    }
    &__location {
      font-size: 0.9rem;
    }
    &__tags {
      margin-top: 10px;
    }
    &__host {
      gap: 10px;
      &__picture {
        width: 32px;
        height: 32px;
      }
      &__name {
        font-size: 0.75rem;
      }
    }
    &__collapse {
      & .collapse {
        &__title {
          padding-right: 0;
          &__content {
            font-size: 0.8rem;
          }
        }
        &__text {
          &__content {
            padding: 20px 10px 15px;
            font-size: 0.75rem;
          }
        }
        &__icon .fa-solid {
          font-size: 1rem;
        }
      }
    }
  }
  .equipment-list {
    gap: 2px;
  }
}
