@import '../../style/variables.scss';

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-color;
  gap: 30px;

  &__home {
    color: $primary-color;
    font-size: 18px;
    margin: 170px 0;
  }
}

.error__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  &__404 {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
  }
  &__notfound {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
  }
}
