@import '../../style/colors.scss';

.carousel {
  position: relative;
  margin-bottom: 30px;

  &__arrow {
    position: absolute;
    bottom: 50%;
    color: $tertiary-color;
    font-size: 6rem;
    transform: translateY(50%);
    cursor: pointer;

    &--left {
      left: 0.25em;
    }
    &--right {
      right: 0.25em;
    }
  }

  &__picture {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  &__number {
    position: absolute;
    bottom: 2em;
    left: 50%;
    font-size: 1.1rem;
    color: $tertiary-color;
    margin: 0;
  }
}

/* Wide Tablet */
@media screen and (max-width: 800px) {
  .carousel {
    margin-bottom: 20px;
    &__arrow {
      font-size: 3rem;
      &--left {
        left: 0.35em;
      }
      &--right {
        right: 0.35em;
      }
    }
    &__number {
      font-size: 1rem;
    }
    &__picture {
      height: 325px;
    }
  }
}

/* Tablet */
@media screen and (max-width: 650px) {
  .carousel {
    margin-bottom: 10px;
    &__arrow {
      font-size: 1.75rem;
    }
    &__number {
      font-size: 0.9rem;
      bottom: 1em;
    }
    &__picture {
      height: 280px;
    }
  }
}

/* Mobile */
@media screen and (max-width: 430px) {
  .carousel {
    margin-bottom: 5px;
    &__arrow {
      font-size: 1.25rem;
    }
    &__picture {
      height: 255px;
    }
  }
}
