@import '../../style/colors.scss';

.footer {
  background-color: $footer-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 60px 35px 35px;
  margin-top: 0;

  &__logo {
    width: 122px;
  }

  &__copyright {
    color: $tertiary-color;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

/* Tablet */
@media screen and (max-width: 650px) {
  .footer {
    gap: 30px;
    padding: 50px 25px 25px;
    &__copyright {
      font-size: 1.2rem;
    }
  }
}

/* Mobile */
@media screen and (max-width: 430px) {
  .footer {
    padding-bottom: 60px;
    &__copyright {
      font-size: 0.8rem;
    }
  }
}
