@import '../../style/colors.scss';

.banner {
  position: relative;
  &__img {
    height: 223px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(70%);
  }
  &__text {
    z-index: 1;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    left: 0;
    width: 92%;
    font-size: 3rem;
    font-weight: 500;
    color: $tertiary-color;
    margin: 0;
    padding: 0 4%;
  }
}

/* Tablet */
@media screen and (max-width: 650px) {
  .banner {
    &__img--text {
      height: 170px;
    }
    &__text {
      font-size: 2rem;
    }
  }
}

/* Mobile */
@media screen and (max-width: 430px) {
  .banner {
    &__img--text {
      height: 111px;
    }
    &__text {
      font-size: 1.5rem;
      text-align: left;
      white-space: pre-line;
    }
  }
}
